**/build/**
**/builddir/**
**/out/**

**/.cache/**
**/.ccls-cache/**

**/.vs*/**
**/.idea/**
**/.clangd/**

**/tags*

compile_commands.json

subprojects/*
!subprojects/packagefiles
!subprojects/*.wrap

tags

**/.nvimrc

.doxygen
subprojects/bullet3.wrap
subprojects/cargs.wrap
subprojects/cglm.wrap
subprojects/cute_headers.wrap
subprojects/flecs.wrap
subprojects/glfw.wrap
subprojects/hashmap.wrap
subprojects/luajit.wrap
subprojects/remotery.wrap
subprojects/assetsys.wrap
subprojects/evjson.wrap
subprojects/evstr.wrap
subprojects/luaautoc.wrap
subprojects/luadbg.wrap
subprojects/shaderc_clang.wrap
subprojects/spvref.wrap
subprojects/vec.wrap
subprojects/vma.wrap
subprojects/volk.wrap
